*~
*.sublime-workspace
npm-debug.log
sealious.sublime-workspace
node_modules
./node_modules/
./node_modules
./node_modules/*
node_modules/*
coverage/*
coverage.html
db
db/*
lib-cov/*
coverage.html
\#*
.\#*
.npm
.config
.ash_history
