*~
*.sublime-workspace
npm-debug.log
sealious.sublime-workspace
node_modules
./node_modules
db
db/*
coverage.html
\#*
.\#*
.npm
.config
.ash_history
cosealious
node_modules*
.cache
lib
@types
.xunit
coverage
.nyc_output
docs
.vscode
/.log/
.idea
