tests/
docs/
dev-setup.sh
.eslintrc.json
*~
*.sublime-workspace
npm-debug.log
sealious.sublime-workspace
node_modules
./node_modules/
./node_modules
./node_modules/*
node_modules/*
coverage/*
coverage.html
db
db/*
lib-cov/*
coverage.html
\#*
.\#*
.npm
.config
.ash_history
node_modules*
.nyc_output
.log
.idea
src
!lib/src
!@types/src
*.subtest.js
*.subtest.js.map
*.subtest.d.ts
*.test.js
*.test.js.map
*.test.ts
*.test.d.ts
test.dockerfile
test.js
.xunit
.prettierrc
.eslintrc.js
.arclint
.arcconfig
Makefile
hint-report
lib-instrumented
npm.sh
docker-compose.yml
docker-entrypoint.sh
*.tgz