@font-face {
    font-family: 'Open Sans Light';
    src: url('fonts/opensans_light_polish/OpenSans-Light-webfont.eot');
    src: url('fonts/opensans_light_polish/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_light_polish/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/opensans_light_polish/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/opensans_light_polish/OpenSans-Light-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light Regular';
    src: url('fonts/opensans_regular_polish/OpenSans-Regular-webfont.eot');
    src: url('fonts/opensans_regular_polish/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_regular_polish/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/opensans_regular_polish/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/opensans_regular_polish/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
	background-color:hsl(0, 0%, 90%);
}

body{
	box-shadow: 1px 1px 9px hsla(0, 0%, 0%, 0.11);
	padding:20px;
	background-color:white;
	font-family:sans-serif;
	max-width:50rem;
	margin:0 auto;
	background-image: url(/img/logo.png);
	background-repeat:no-repeat;
	background-position: 20px 97%;
	background-size: auto 30px;
	padding-bottom:50px;
	margin-top:40px;
}

*{
	color:hsl(0, 0%, 28%);
	font-family: 'Open Sans Light';
}

strong{
	font-family: 'Open Sans Light Regular';
}

a{
	color: hsl(198, 51%, 50%);
	text-decoration:none;
	font-family: 'Open Sans Light Regular';
}

button{
	border-color: hsl(198, 51%, 50%);
	border-style:solid;
	border-width:1px;
	border-radius: 2px;
}

.prometheus{
	color:hsl(194, 32%, 55%);
}