@font-face {
  font-family: 'Open Sans Light';
  src: url('fonts/opensans_light_polish/OpenSans-Light-webfont.eot');
  src: url('fonts/opensans_light_polish/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans_light_polish/OpenSans-Light-webfont.woff') format('woff'),
  url('fonts/opensans_light_polish/OpenSans-Light-webfont.ttf') format('truetype'),
  url('fonts/opensans_light_polish/OpenSans-Light-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light Regular';
  src: url('fonts/opensans_regular_polish/OpenSans-Regular-webfont.eot');
  src: url('fonts/opensans_regular_polish/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans_regular_polish/OpenSans-Regular-webfont.woff') format('woff'),
  url('fonts/opensans_regular_polish/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('fonts/opensans_regular_polish/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{
	background-color:hsl(0, 0%, 90%);
}

body{
	box-shadow: 1px 1px 9px hsla(0, 0%, 0%, 0.11);
	padding:20px;
	background-color:white;
	font-family:sans-serif;
	max-width:50rem;
	margin:0 auto;
	background-image: url(/img/logo.png);
	background-repeat:no-repeat;
	background-position: bottom 10px left 20px;
	background-size: auto 30px;
	padding-bottom:50px;
	margin-top:40px;
	animation: fadeIn linear 400ms;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	margin-bottom: 15px;
}

*{
	color:hsl(0, 0%, 28%);
	font-family: 'Open Sans Light';
}

strong{
	font-family: 'Open Sans Light Regular';
}

a{
	color: hsl(194, 51%, 50%);
	text-decoration:none;
	font-family: 'Open Sans Light Regular';
}

button{
	border-color: hsl(194, 51%, 50%);
	border-style:solid;
	border-width:1px;
	border-radius: 2px;
}

button.negative{
	border-color:hsl(23, 61%, 55%);
}

.prometheus{
	color:hsl(194, 32%, 55%);
}

.show-on-parent-hover{
	/*
		opacity:0;
    */
    transition: all 300ms;
  }

  *:hover > .show-on-parent-hover{
   opacity:1;
 }

 ul#lista-wiadomosci {
  overflow: hidden;
}

ul .message.incoming {
  float: right;
  background: hsl(198, 51%, 70%) !important;
  border-color: rgba(0,0,0,0.1);
  text-align: right;
  margin-right: 18px;
  animation-name: message-enter-right;
}

ul .message {
	list-style: none;
  margin-left:-20px;
  margin-bottom: 10px;
  width: auto;
  color: rgba(255,255,255,1);
  float: left;
  word-wrap: break-word;
  clear: both;
  position: relative;
  padding: 10px;
  background: hsl(198, 51%, 50%);
  -webkit-box-shadow: inset 0px -5px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px -5px 10px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px -5px 10px 0px rgba(0,0,0,0.1);
  animation-fill-mode: both;
   animation-duration: 400ms;
  animation-name: message-enter-left;
}

.message:not(.incoming)::after {
  border-color: transparent hsl(198, 51%, 50%);
  border-style: solid;
  border-width: 0px 18px 20px 0;
  content: "";
  display: block;
  left: -18px;
  position: absolute;
  top: 0px;
  width: 0;
  z-index: 1;
}
.incoming:before {
  border-color: transparent hsl(198, 51%, 70%);
  border-style: solid;
  border-width: 0px 0 20px 18px;
  content: "";
  display: block;
  position: absolute;
  right: -18px !important;
  top: 0px;
  width: 0;
  z-index: 1;
}
#message-box + button {
  float: left;
  clear: both;
  margin-top: 10px;
}
#message-box {
  width: 98%;
  float: left;
}
.content {
  height: auto;
  overflow: hidden;
  position:relative;
}

#registered {
  display: none;
  opacity: 1;
}

#registered:target {
  color: rgba(0,0,0,0.3);
  margin:0 auto 15px;
  width: 190px;
  display: block;
  transition-delay: 2s;
  transition: opacity 200ms easy-in;
}
.username {
  font-size: 10px;
  color: rgba(255,255,255,0.6);
}

/*
	Animations
 */

 @keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


/**
 * circle loading animation
 */

 .loading-container{
  text-align:center;
  opacity:1;
  will-change:opacity;
  transition:opacity 300ms;
  height:40px;
  width:100%;
  left:0;
  pointer-events:none;
}

.prometheus-loading-circle{
  animation: rotate 2s infinite linear;
  margin: 0 auto;
  display:inline-block;
}

@keyframes rotate{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}

.prometheus-loading-circle path{
  fill: none;
  stroke: #669FB1;
  stroke-width: 4.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1;
  stroke-dasharray: 19;
  stroke-dashoffset: 0;
  animation: loading-circle 2s infinite;
}

.loading-container.not-loading{
  opacity:0!important;
  position:absolute;
}

@keyframes fade-out{
  0%{
    opacity:1!important;
  }
  99%{
    opacity:0!important;
  }
  100%{
    display:none;
  }
}

@keyframes loading-circle{
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray:15;
  }
  50% {
    stroke-dasharray:60;
  }
  100% {
    stroke-dashoffset: 10;
    stroke-dasharray:15;
  }
}

 @keyframes message-enter-right{
  0% {
    opacity:0;
    transform:translateX(40px);
  }
  100% {
    opacity:1;
  }
}


@keyframes message-enter-left{
  0% {
    opacity:0;
    transform:translateX(-40px);
  }
  100% {
    opacity:1;
  }
}

.first-load .message:nth-last-child(5){
  animation-delay:0;
}


.first-load .message:nth-last-child(4){
  animation-delay:100ms;
  animation-duration:300ms;
}

.first-load .message:nth-last-child(3){
  animation-delay:200ms;
  animation-duration:400ms;
}

.first-load .message:nth-last-child(2){
  animation-delay:300ms;
  animation-duration:500ms;
}

.first-load .message:nth-last-child(1){
  animation-delay:400ms;
  animation-duration:600ms;
}
