@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), local('LatoRegular'), url('fonts/lato-regular.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro Light';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: 
        url('Source Sans Pro'),
        url('fonts/eot/SourceSansPro-Light.eot') format('embedded-opentype'),
        url('fonts/woff/SourceSansPro-Light.otf.woff') format('woff'),
        url('fonts/ttf/SourceSansPro-Light.ttf') format('truetype'),
        url('fonts/otf/SourceSansPro-Light.otf') format('opentype');
}

@font-face{
    font-family: 'Source Sans Pro Regular';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src:
        url('Source Sans Pro'),
        url('fonts/eot/SourceSansPro-Regular.eot') format('embedded-opentype'),
        url('fonts/woff/SourceSansPro-Regular.otf.woff') format('woff'),
        url('fonts/ttf/SourceSansPro-Regular.ttf') format('truetype'),
        url('fonts/otf/SourceSansPro-Regular.otf') format('opentype');
}

@font-face{
    font-family: 'DejaVuSans-extralight';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src:
        url('Source Sans Pro'),
        url('fonts/eot/DejaVuSans-ExtraLight-webfont.eot') format('embedded-opentype'),
        url('fonts/woff/DejaVuSans-ExtraLight-webfont.woff') format('woff'),
        url('fonts/ttf/DejaVuSans-ExtraLight-webfont.ttf') format('truetype');
}

@font-face{
    font-family: 'DejaVuSans-condensed';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src:
        url('Source Sans Pro'),
        url('fonts/eot/DejaVuSansCondensed-webfont.eot') format('embedded-opentype'),
        url('fonts/woff/DejaVuSansCondensed-webfont.woff') format('woff'),
        url('fonts/ttf/DejaVuSansCondensed-webfont.ttf') format('truetype');
}

@font-face{
    font-family: 'DejaVuSans-regular';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src:
        url('Source Sans Pro'),
        url('fonts/eot/DejaVuSans-webfont.eot') format('embedded-opentype'),
        url('fonts/woff/DejaVuSans-webfont.woff') format('woff'),
        url('fonts/ttf/DejaVuSans-webfont.ttf') format('truetype');
}