* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    /*color: hsl(213, 38%, 22%);*/
}

.pg1 {
    position: relative;
    height: 95vh;
    /*-webkit-filter: blur(3px);*/
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/bg.png);

}

.pg2 {
    position: relative;
    padding-top: 16vh;
    height: 100%;
    background-color: #FFF;
}


.pg3 {
    position: relative;
    padding-top: 20vh;
    height: auto;
    background-color: hsl(213, 38%, 22%);
    color: #FFF;

    border-bottom-style: solid;
    border-bottom-width: 20px;
    border-bottom-color: hsl(213, 38%, 18%);
}

.pg4 {
    position: relative;
    padding-top: 20vh;
    height: 50vh auto;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: url(http://papers.co/wallpaper/papers.co-vd60-frontier-ipad-space-colorful-star-nebula-22-wallpaper.jpg);*/
}

header {
    margin: 0 auto;
    max-width: 60rem;
    color: #FFF;
}

nav {
    height: 30vh;
    font-size: 1.2rem;
}

.title {
    position: relative;
    font-size: 6rem;
    font-family: 'Lato Regular';
    -webkit-animation: blink 0.7s infinite;
}

.title-description {
    position: relative;
    font-size: 2.15rem;
    text-justify: inter-word;
    margin-bottom: 1.4rem;
    max-width: 50%;
}

.install-prompt {
    background-color: #FFF;
    white-space: pre;
    font-size: 1.6rem;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.4s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1.4s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.button {
    display: inline-block;
    width: 33%;
    background-color: hsl(220, 60%, 15%);
    border: none;
    padding: 20px 0;
    color: white;
    font-family: 'Lato Regular';

    font-size: 1.4rem;
    transition: all 800ms;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.button:hover {
    background: hsl(128, 53%, 36%);
    transition: all 800ms;
}

.wrapper {
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
    display: block;
}

.content {
    position: relative;
    width: 100%;
    line-height: 160%;
}

/*------------- BOX CODE ----------------*/

.box {
    display: inline-block;
    margin-bottom: 6rem;
}

.box-code {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    height: 30vh;
    background-color: hsl(220, 60%, 15%);
    /*background-color: #0D3257;*/

    padding-top: 1rem;
    padding-left: 1rem;
}

pre{
    margin: 0; 
    font-family: "Lucida Console", Courier, monospace;
    font-size: 0.8rem;
    white-space: pre-wrap; 
    line-height: 125%;
}

.box-code-left {
    float: left;
}

.box-code-right {
    float: right;
}

.box-text-title {
    margin-bottom: 1.2rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    font-size: 2.4rem;
    line-height: 110%;
}

.box-padding-left{
    padding-left: 2rem;
}

.box-padding-right{
    padding-right: 2rem;
}

.box-text{
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    text-align: justify;
}

.box-img{


}

/*  width: 320px 480px 768px */

/*
320px = 32rem
480px = 48rem
768px = 76.8rem*/

@media all and (max-width: 48rem) {

    .pg1{
        height: 100%;
    }

    .pg2 {
        padding-top: 2rem;
    }

    header{
        width: 100%;
    }

    nav{
        height: 20vh;
    }

    .title{
        text-align: center;
    }

    .title-description{
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 4rem;
        max-width: 100%;
    }

    .button{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .wrapper {
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content {
        width: 100%;
        line-height: 160%;
    }

    .box{
        display: block;
        margin-bottom: 4rem;
    }

    .box-code {
        display: block;
        width: 100%;
        height: auto;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }

    .box-code-left {
        float: 0;
    }
    .box-code-right {
        float: 0;
    }
    .box-text-title {
        display: block;
        text-align: justify;
        width: 100%;
        padding-top: 2rem;

    }
    .box-padding-left {
        padding-left: 0;
    }
    .box-padding-right {
        padding-right: 0;
    }
    .box-text {
        display: block;
        vertical-align: middle;
        width: 100%;
        text-align: justify;
    }
}

@media all and (min-width: 48rem) and (max-width: 60rem) {

    .title{
        text-align: center;
    }

    .title-description{
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 4rem;
        max-width: 100%;
    }

    .button{
        width: 33%;
        margin-right: 0;    
    }
}