@media all (min-width: 60.75rem) and (max-width: 68.75rem){
    header, .wrapper{
        max-width: none;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}


@media all (max-width: 60.75rem) {


    .title {
        text-align: center;
    }

    .title-description{
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 4rem;
        text-align: center;
    }

    .pg1{
        height: auto;
    }

    .pg2, .pg3{
        margin-top: 2rem;
    }

    header{
        padding-left: 0;
        padding-right: 0;
    }

    .button{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .wrapper {
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content {
        width: 100%;
        line-height: 160%;
    }

    .col-text-title, .col-text, .col-img{
        width: 100%;
        text-align: center;
    }

    .col-img{
        background: url(../img/fishes.svg) no-repeat 50% 50%;
        margin-bottom: 1rem;
    }

    .el-padding-left, .el-padding-right {
        padding-left: 0;
        padding-right: 0;
    }

    .box{
        display: block;
        margin-bottom: 2rem;
    }

    .box-code{
        display: block;
        width: 50%;
        height: auto;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }
    .box-img{
        display: block;
        margin-bottom: 0;
        width: 100%;
    }

    .el-left {
        margin-right: 2rem;
    }
    .el-right {
        margin-left: 2rem;
    }
    .box-text-title {
        display: block;
        width: 100%;
    }

    .box-text {
        display: block;
        vertical-align: middle;
        width: 100%;
        text-align: justify;
    }
}

@media all (max-width: 48rem) {
    .box-code{
        width: 100%;
    }

    .col-text{
        text-align: justify;
    }
}

@media all (max-width: 40rem) {
    nav{
        height: 8rem;
    }

    .title {
        font-size: 5.75rem;
    }

    .title-description{
        font-size: 2.25rem;
    }

    h1{
        font-size: 4.6rem;
    }

    .box-text-title {
        display: block;
        text-align: left;
    }
}

@media all (max-width: 33.75rem) {
    nav{
        height: 6rem;
    }

    .title {
        font-size: 5.5rem;

    }
    .title-description{
        font-size: 2.15rem;
    }

    h1{
        font-size: 4.4rem;
    }
}

@media all (max-width: 30rem) {
    .title {
        font-size: 5rem;
    }

    .title-description{
        font-size: 1.95rem;
    }

    h1{
        font-size: 4rem;
    }
}

@media all (max-width: 22.5rem) {
    .title {
        font-size: 4.5rem;
    }

    .title-description{
        font-size: 1.75rem;
    }

    h1{
        font-size: 3.6rem;
    }
}

@media all (max-width: 20rem) {

    .title {
        font-size: 4rem;

    }

    .title-description{
        font-size: 1.55rem;
    }

    h1{
        font-size: 3.2rem;
    }
}

@media all (max-height: 38.75rem){
    .pg1{
        height: auto;
    }
}