* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font-family: 'Source Sans Pro Light';
    color: #333;
}

h1 {
    font-weight: normal;
}

nav {
    height: 10rem;
    /* font-size: 1.2rem; */
}

header {
    margin: 0 auto;
    max-width: 60rem;
    color: #FFF;
}
/*------------------ POSITION ----------------------*/

.el-left {
    float: left;
}

.el-right {
    float: right;
}

.el-padding-left,
.col-padding-left {
    padding-left: 2rem;
}

.el-padding-right,
.col-padding-right {
    padding-right: 2rem;
}
/*------------------ FIRST PAGE ----------------------*/

.header-wrapper {
    position: relative;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/background.jpg);
}

.title {
    position: relative;
    font-size: 6rem;
    font-family: 'Lato Regular';
    line-height: 6rem;
}

.title-description {
    position: relative;
    /* font-size: 6.4rem; */
    
    max-width: 100%;
    /* margin-bottom: 1.4rem; */
    
    line-height: 4.8rem;
}

p {
    display: inline;
}

.npm-install-sealious {
    font-size: 2.4rem;
    line-height: 3rem;
    padding-right: 0.25rem;
    overflow: hidden;

}

.install-prompt {
    display: inline;
    font-size: 1.8rem;
    color: #FFF;
    white-space: pre;
    font-weight: bold;
}

#blink {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    -ms-animation: blink 1s linear infinite;
    -o-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}

@-moz-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}

@-ms-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}

@-o-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}

.button {
    display: inline-block;
    font-family: 'Source Sans Pro Light';
    font-size: 1.6rem;
    color: white;
    background-color: hsl(220, 60%, 15%);
    border: none;
    /* padding: 20px 0; */
    
    width: 33%;
    transition: all 800ms;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    line-height: 2rem;
}

.button:hover {
    background-color: hsl(128, 53%, 36%);
    border-radius: 0.1rem;
    transition: all 200ms;
}

/*------------------ FEATURES PAGE ----------------------*/

.pg2 {
    position: relative;
    /* padding-top: 1rem; */
    
    height: 100%;
    background-color: #FFF;
}

.col {
    display: inline-block;
    margin-top: 3rem;
    /* margin-bottom: 4rem; */
}

.col-text-title {
    position: relative;
    display: inline-block;
    font-size: 2.4rem;
    line-height: 3rem;
    vertical-align: middle;
    /* margin-bottom: 1.2rem; */
    
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 60%;
}

.col-padding-left {
    padding-left: 2rem;
}

.col-padding-right {
    padding-right: 2rem;
}

.col-img {
    position: relative;
    display: inline-block;
    height: 12rem;
    width: 40%;
    vertical-align: middle;
    background: url(../img/fishes.svg) no-repeat;
}

.col-img-left {
    float: left;
}

.col-img-right {
    float: right;
}

.col-text {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    /* line-height: 2rem; */
    
    vertical-align: middle;
    text-align: justify;
    width: 60%;
}
/*------------------ GET STARTED HEADER ----------------------*/

.pg2-3 {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100%;
    /* background-color: #33404a; */
}
/*------------------ GET STARTED CONTENT PAGE ----------------------*/

.pg3 {
    position: relative;
    height: 100%;
    background-color: #FFF;
}

.box {
    display: inline-block;
    margin-top: 2rem;
}

.box-code {
    position: relative;
    display: inline-block;
    background-color: #fafafa;
    border-bottom: 5px solid hsl(195, 14%, 90%);
    width: 50%;
    /* height: 12.5rem; */
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    vertical-align: middle;
    margin-bottom: -5px;
}

.main-js-code {
    position: relative;
    display: table;
    /* margin: 0 auto; */
    
    margin-top: 1rem;
    width: 100%;
}

pre {
    font-family: 'Inconsolata';
    font-size: 0.9rem;
    color: #637c84;
    white-space: pre-wrap;
    line-height: 125%;
    margin: 0;
}

.box-code-left {
    float: left;
}

.box-code-right {
    float: right;
}

.box-text-title {
    position: relative;
    display: inline-block;
    font-size: 2.4rem;
    line-height: 3rem;
    vertical-align: middle;
    /* margin-bottom: 1.2rem; */
    
    width: 50%;
}

.box-padding-left {
    padding-left: 2rem;
}

.box-padding-right {
    padding-right: 2rem;
}

.box-text {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    vertical-align: middle;
    text-align: justify;
    width: 50%;
}
/*------------------ FOOTER PAGE ----------------------*/

.pg4 {
    position: relative;
    height: auto;
    background-color: hsl(195, 14%, 90%);
    color: #637c84;
    margin-top: 2rem;   
    padding-bottom: 4rem;
}

.footer {
    color: #637c84;
}

.wrapper {
    position: relative;
    display: block;
    max-width: 60rem;
    margin: 0 auto;
}

.content {
    position: relative;
    width: 100%;
}

hr {
    height: 4rem;
    background: url(../img/seal.svg) no-repeat 50% 50%;
    margin-top: 1rem;
    border: 0;
}
