*~
*.pdf
*.1
node_modules
uploaded_files

# Disable Docker Compose related files
.ash_history
.bash_history
.env
.npm

# Disable bundles
public/*.js
public/*.css
public/*.html
.cache
dist
npm-debug.log

